.read-more-or-less {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

.read-more-or-less:hover {
  text-decoration: underline;
}

.product-description:first-letter {
  text-transform: capitalize;
}
