.product-container {
  display: "flex";
  align-items: "center";
  gap: 20px;
  border-bottom: "1px solid black";
  margin-bottom: 10px;
  padding: 10px;
}

.wide-section {
  flex-grow: 6;
}

img {
  width: 100px;
}

.control-button {
  margin: 4px;
}
