@import "../variables";

.side-bar {
  width: 300px;
  height: 200px;
  padding: 8px;
  margin-left: 10px;
  /* top = app bar's height + page container's padding top*/
  top: 56px;
  border-radius: 8px;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: white;
  white-space: nowrap;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.side-bar > button {
  height: auto;
  width: auto;
  flex-grow: 1;
  margin: 8px;
}

@media only screen and (max-width: 700px) {
  .side-bar {
    width: 100%;
    height: auto;
    border-top: 1px solid black;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    margin-left: -6px;
    flex-direction: row;
    padding: 4px;
    justify-content: space-between;
  }

  .side-bar > h4 {
    display: none;
  }
}
