@import "../colors";
@import "../variables";

.list {
  background-color: $turquoise;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 6px;
  width: 100%;
  text-align: left;
  border: none;
  display: flex;
  justify-content: space-between;
}

.grow-div {
  overflow: hidden;
  transition: height $transition-duration;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.arrow-icon {
  transition: transform $transition-duration;
}
