@import "../colors";

.list {
  background-color: $turquoise;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 6px;
  width: 100%;
  text-align: left;
  border: none;
}

.expanded-wish-list {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
}
